<section id="home" class="py-8 z-10 font-serif">
    <div class="flex flex-col md:flex-row items-center max-w-6xl px-6 py-8 mx-auto">
      <div class="w-full md:w-1/2 py-8">
        <h1 class="text-blue-900 text-7xl font-semibold leading-none tracking-tighter">
          Welcome to <br>
          <span class="text-blue-500">Zakaria Suilahi Portfolio, <br></span>
          I am Web Developer.
        </h1>
  
        <!-- Social Icons -->
        <div class="mt-6 flex space-x-4">
          <a href="https://github.com/suilahi" target="_blank" class="text-black-900 hover:text-blue-500 transition">
            <!-- GitHub icon -->
            <svg xmlns="http://www.w3.org/2000/svg" class="w-8 h-8" fill="currentColor" viewBox="0 0 24 24">
              <path d="M12 .5C5.73.5.5 5.73.5 12c0 5.08 3.29 9.38 7.85 10.9.57.1.78-.25.78-.55v-2.1c-3.2.7-3.88-1.5-3.88-1.5-.5-1.3-1.22-1.6-1.22-1.6-1-.68.07-.67.07-.67 1.1.07 1.7 1.12 1.7 1.12 1 .1 1.6-.68 1.6-.68.27-.67.5-1 .73-1.3-2.57-.3-5.28-1.3-5.28-5.5 0-1.2.4-2.3 1.1-3.2-.1-.3-.5-1.4.1-2.8 0 0 .96-.3 3.2 1.1a10.9 10.9 0 0 1 5.8 0c2.2-1.4 3.2-1.1 3.2-1.1.6 1.4.2 2.5.1 2.8.7.9 1.1 2 1.1 3.2 0 4.2-2.7 5.2-5.3 5.5.5.5.8 1.1.8 2.3v3.4c0 .3.2.6.8.5A10.98 10.98 0 0 0 23.5 12C23.5 5.73 18.27.5 12 .5Z" />
            </svg>
          </a>
  
          <a href="https://www.linkedin.com/in/zakaria-suilahi-a3b630293/" target="_blank" class="text-black-900 hover:text-blue-500 transition">
            <!-- LinkedIn icon -->
            <svg xmlns="http://www.w3.org/2000/svg" class="w-8 h-8" fill="currentColor" viewBox="0 0 24 24">
              <path d="M19 0h-14C2.2 0 1 .2 1 1.5v21C1 23.8 2.2 24 5 24h14c2.8 0 3-1.2 3-1.5v-21C22 0.2 21.8 0 19 0ZM8 20H5V9h3v11Zm-1.5-12.2a1.8 1.8 0 1 1 0-3.6 1.8 1.8 0 0 1 0 3.6Zm13.5 12.2h-3v-5.7c0-1.3-.5-2.2-1.6-2.2s-1.7.9-1.7 2.2V20h-3V9h3v1.5a3.2 3.2 0 0 1 3-1.5c2.2 0 3.3 1.4 3.3 3.6V20Z" />
            </svg>
          </a>
        </div>
  
      </div>
  
      <div class="w-full md:w-1/2 py-8">
        <img src="images/pexels-kevin-ku-92347-577585.jpg" class="g-image" alt="Zakaria Suilahi working at desk">
      </div>
    </div>
  </section>
  